@charset "utf-8";
@font-face {
	font-family: "Pretendard-Regular";
	src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
		format("woff");
	font-weight: 100 200 300 400 500 600 700 800 900;
	font-style: normal;
}

/* Variable */
:root {
	--header-height: 50px;
	--logo-min-width: 200px;
	--gnb-min-width: 1000px;
	--menu-min-width: 200px;
	--left-side-width: 250px;
	--footer-height: 0px;
	--page-min-width: calc(
		var(--logo-min-width) + var(--gnb-min-width) + var(--menu-min-width)
	);
	--container-height: calc(
		100% - var(--header-height) - var(--footer-height)
	);
	--container-min-width: calc(var(--gnb-min-width) + var(--menu-min-width));
	--content-width: calc(100% - var(--left-side-width));
	--content-min-width: calc(var(--gnb-min-width) + var(--menu-min-width));
	--main-theme-color: #04aa6d;
	--main-test-theme-bg-color: #6404cc;
	--main-test-theme-bg2-color: #1c003b;
	--main-theme-bg-color: #2a3d77;
	--main-theme-bg2-color: #001d70;
	--sidbar-bg-color: #efefef;
	/* --sidbar-bg-color: #fffde6; */
	--default-font-color: #262b32;
	--th-bg-color: #e5e7f5;
	--content-padding: 20px;
	--color-primary: #2196f3;
	--color-light-primary: #52aefa;
	--color-success: #53a451;
	--color-info: #4ba0b5;
	--color-warning: #f6c244;
	--color-danger: #dc3545;
	--color-white: #fff;
	--color-gray: #6c757d;
	--color-purple: #6404cc;
	--color-orange: #f78f07;
	/* --border-color:#d1d1d1; */

	--border-color: rgba(0, 0, 0, 0.125);
	--border-color-dark: rgba(0, 0, 0, 0.225);
	--border-color-light: rgba(219, 218, 218, 0.125);
}

html,
body {
	font-family: "Pretendard-Regular" !important;
}

/* FONT-WEIGHT */
.fw100 {
	font-weight: 100 !important;
}
.fw200 {
	font-weight: 200 !important;
}
.fw300 {
	font-weight: 300 !important;
}
.fw400 {
	font-weight: 400 !important;
}
.fw500 {
	font-weight: 500 !important;
}
.fw600 {
	font-weight: 600 !important;
}
.fw700 {
	font-weight: 700 !important;
}
.fw800 {
	font-weight: 800 !important;
}
.fw900 {
	font-weight: 900 !important;
}

/* FONT-SIZE */
.fs10 {
	font-size: 0.625rem !important;
}
.fs11 {
	font-size: 0.6875rem !important;
}
.fs12 {
	font-size: 0.75rem !important;
}
.fs13 {
	font-size: 0.8125rem !important;
}
.fs14 {
	font-size: 0.875rem !important;
}
.fs15 {
	font-size: 0.9375rem !important;
}
.fs16 {
	font-size: 1rem !important;
}
.fs17 {
	font-size: 1.0625rem !important;
}
.fs18 {
	font-size: 1.125rem !important;
}
.fs19 {
	font-size: 1.1875rem !important;
}
.fs20 {
	font-size: 1.25rem !important;
}
.fs21 {
	font-size: 1.3125rem !important;
}
.fs22 {
	font-size: 1.375rem !important;
}
.fs23 {
	font-size: 1.4375rem !important;
}
.fs24 {
	font-size: 1.5rem !important;
}
.fs25 {
	font-size: 1.5625rem !important;
}
.fs26 {
	font-size: 1.625rem !important;
}
.fs27 {
	font-size: 1.6875rem !important;
}
.fs28 {
	font-size: 1.75rem !important;
}
.fs29 {
	font-size: 1.8125rem !important;
}
.fs30 {
	font-size: 1.875rem !important;
}
.fs31 {
	font-size: 1.9375rem !important;
}
.fs32 {
	font-size: 2rem !important;
}
.fs33 {
	font-size: 2.0625rem !important;
}
.fs34 {
	font-size: 2.125rem !important;
}
.fs35 {
	font-size: 2.1875rem !important;
}
.fs36 {
	font-size: 2.25rem !important;
}
.fs37 {
	font-size: 2.3125rem !important;
}
.fs38 {
	font-size: 2.375rem !important;
}
.fs39 {
	font-size: 2.4375rem !important;
}
.fs40 {
	font-size: 2.5rem !important;
}
.fs41 {
	font-size: 2.5625rem !important;
}
.fs42 {
	font-size: 2.625rem !important;
}
.fs43 {
	font-size: 2.6875rem !important;
}
.fs44 {
	font-size: 2.75rem !important;
}
.fs45 {
	font-size: 2.8125rem !important;
}
.fs46 {
	font-size: 2.875rem !important;
}
.fs47 {
	font-size: 2.9375rem !important;
}
.fs48 {
	font-size: 3rem !important;
}
.fs49 {
	font-size: 3.0625rem !important;
}
.fs50 {
	font-size: 3.125rem !important;
}

/* FONT-COLOR */
.font-blue {
	color: var(--color-primary) !important;
}
.font-red {
	color: var(--color-danger) !important;
}
.font-green {
	color: var(--main-theme-color) !important;
}
.font-yellow {
	color: var(--color-warning) !important;
}
.font-purple {
	color: var(--color-purple) !important;
}
.font-gray {
	color: var(--color-gray) !important;
}
.font-black {
	color: var(--default-font-color) !important;
}
.font-orange {
	color: var(--color-orange) !important;
}
